<div class="text-center">
    
    <div id="ICP">
        <strong>渝ICP备16010823号-1 <span class="badge badge-dark"><a href="http://www.miit.gov.cn/" title="工信部备案查询">工信部</a></span></strong>
    </div>
    <div id="copyright">
        <strong>Copyright © 2016 BadTudou. All rights reserved.</strong>
    </div>
</div>