<ul class="nav nav-pills pull-right">
  <li class="nav-item" style="margin-right: 10px;">
    <button class="btn btn-secondary" title="<%= t('action.incognito') %>"><i class="fa fa-smile-o fa-1x" aria-hidden="true"></i></button>
  </li>
  <li class="nav-item">
    <button class="btn btn-secondary" title="<%= t('action.notification') %>"><i class="fa fa-bell fa-1x" aria-hidden="true"></i></button>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><%= t('action.register') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#"><%= t('action.login') %></a>
  </li>
</ul>