<el-upload
  class="upload-demo"
  drag
  action="<%= action %>"
  multiple>
  <i class="el-icon-upload"></i>
  <!-- 后台无法接收到token -->
  <!-- <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> -->
  <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
  <div class="el-upload__tip text-center" slot="tip"><%= explain %></div>
</el-upload>